#RecipeCards {
    display:flex;
    flex-direction: column;
  }
  #addedRecipeCard  {
    display:flex;
    justify-content: center;
    border: 1px solid green;
    padding: 10px;
    font-size: 20px;
    min-width: 54%;
    margin:auto;
  }
#openRecipeButton {
  width:100px;
  height:40px;
}