#form-container{
    display:flex;
    justify-content: center;
    padding-top: 110px;
    font-size: 20px;
  }

#preloaded {
  display:flex;
  justify-content: center;
  border: 1px solid green;
  padding: 10px;
  font-size: 20px;
  min-width: 54%;
  margin:auto;
}
#clearAllRecipes-div{
  display:flex;
  justify-content: center;
  padding: 10px;
}
#clearAllRecipes {
  width:100px;
  height:40px;
}