#container-div{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#form-container{
    display:flex;
    justify-content: center;
    padding-top: 110px;
    font-size: 20px;
  }

#clearAllRecipes-div{
  display:flex;
  justify-content: center;
  padding: 10px;
}
#clearAllRecipes {
  width:100px;
  height:40px;
}
#addedRecipe-div{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  min-width: 450px;
}
#deletePreRecipeButton{
  width:0px;
  height:0px;
}
#deleteRecipeButton{
  margin-left: 10px;
  margin-bottom: 20px;
  width:100px;
  height:40px;
}
#addedRecipe {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#deleteRecipeButton-div{
  display:flex;
  justify-content: center;
}