#CurrentRecipe{
    display:flex;
    justify-content: center;
  }
  #RecipeCards {
    display:flex;
    flex-direction: column;
  }
  #PreloadedRecipeCard  {
    display:flex;
    justify-content: center;
    border: 1px solid green;
    padding: 10px;
    font-size: 20px;
    min-width: 40%;
    margin:auto;
  }
  
  #addRecipe{
    left: 70%;
    width:100px;
    height:40px;
  }
  #resetRecipe{
    left: 70%;
    width:100px;
    height:40px;
  }
  #clearRecipeCards{
    position: relative;
    left: 70%;
    width:100px;
    height:40px;
  }