.popUp {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}
.popUp-Inner {
    position: relative;
    padding:32px;
    width:100%;
    max-width: 640px;
    background-color: white;
}
.popUp-Inner .close-btn {
    position:absolute;
    top: 16px;
    right: 35px;
}
.disableReview {
    display:none;
}
.disableAddReviewButton{
    display:none;
}
.disableCloseReviewButton{
    display:none;
}
.disableSubmitReviewButton{
    display:none;
}
.showReview{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reviewTextArea{
    width: 50%;
    height: 200px;
}